{% extends 'base.html' %}
{% block title %}About App{% endblock title %}
{% block css %}
rel="stylesheet" href="static/index4.css"
{% endblock css %}
{% block body %}
<pre class='lang'>
This app can tell you the song of your genre thats right.Just upload 
your song and by the help of Ai we will predict what type of genre it is.

Morever if you are classical music fan then this app has an option of 
predicting the composer of that song.We have a database of classical 
composers and we can tell with whom it belongs too.

Apart from that this app will recommend you the songs based on your 
song upload.We hope that you will like this.

Made by:

Amar Shukla Email:19103131@mail.jiit.ac.in
Parikshit Sharma Email:19103317@mail.jiit.ac.in
Devarshi Porwal Email:19103136@mail.jiit.ac.in
</pre>
{% endblock body %}